section {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    margin: 150px auto;
    
}

form {
    display: flex;
    flex-direction: column;

}
    form a {
        text-align: right;
    }

/*input {
    margin-top: 20px;

}*/


button{
    margin: 20px 0;
    background-color: #7dc87d;
    border: none;
    padding: 10px;
    border-radius: 3px;
    color: white;
}

label{
    margin-bottom: 30px;
}

input {
    border-bottom: 2px solid rgb(49, 47, 47);
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

    input:focus {
        border-color: rgb(255, 72, 0);
    }

    input[type = "submit"] {
        background-color: rgb(255, 72, 0);
        color: white;
        border: none;
        border-radius: 40px;
        cursor: pointer;
    }

#confirm {
    margin-right: 5px;
}

#confirm, #confirm_label {
    display: inline-block;
    width: auto;
}

/* validacoes de erros*/
.error_validation {
    color: rgb(255, 72, 0);
    position: absolute;
    top: 57px;
    font-size: 12px;
}